name: CI

on:
  push:
    branches:
      - main
      - main
  pull_request:
    branches:
      - main
      - main

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ["12.22.0", "14", "16"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: make setup

      - name: Run lint and test
        run: make lint test

